h1 {
	text-align: center;
	margin: 15px;
}

p {
	padding: 5px;
}
img {
	float: left;
	margin: 10px;
	width: 40%
	height: 40%;
}

.part1 {
	color: red;
	margin: 4px;
}

.part2 {
	color: green;
	margin: 4px;
}
.part3 {
	color: blue;
	margin: 4px;
}
.part4 {
	color: skyblue;
	font-size: 20px;
	line-height: 30px;
	font-style: cursive;
	line-height: 30px;
	text-align: center;
	margin: 4px;
}

.spa1 {
	text-decoration: underline;
}
.spa2 {
	text-decoration: underline;
	color: lightgreen;
}
.spa3 {
	font-weight: bolder;
	color: lightblue;
}
.spa4 {
	font-family: monospace;
	text-decoration: underline;
}