.part1 {
	color: red;
}

.part2 {
	color: grey;
}
.part3 {
	color: blue;
}
.part4 {
	color: pink;
	font-size: 20px;
	line-height: 13px;
	font-style: cursive;
}

.spa1 {
	text-decoration: underline;
}
.spa2 {
	font-family: forte;
}
.spa3 {
	font-weight: bolder;
}
.spa4 {
	font-family: monospace;
}